.header {
  background: #232332;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  // .header__container
  &__container {
  }
  // .header__body
  &__body {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .header__nav
  &__nav {
  }
  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
  }
}
.menu {
  // .menu__item
  &__item {
    margin: 0px 30px 0px 0px;
    font-size: 20px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
  // .menu__link
  &__link {
    transition: all 0.5s ease 0s;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &_active {
      color: #fff;
    }
  }
}
